<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title>## Title Here!!##</title>

    <link rel="stylesheet" type="text/css" href="/css/fridge.css">
</head>
<body>

<div th:fragment="navbar">
    <ul>
        <li>
            <a th:href="@{/brand}">Brands</a>
        </li>
        <li>
            <a th:href="@{/product}">Products</a>
        </li>
    </ul>
</div>

<div th:fragment="footer">
    <footer><p class="text-center text-muted">Copyright Simon Hiemstra &copy;2024</p></footer>
</div>

<div th:fragment="bottomScripts"></div>

</body>
</html>