<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Overview of all the Brands known for the fridge</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
<h1>Overview of all the Brands known for the fridge</h1>

    <form th:action="@{/brand/new}" method="post" th:object="${newBrand}">
        <table>
            <tr>
                <th><label for="nameField">Name</label></th>
                <th></th>
            </tr>
            <tr th:each="brand : ${allBrands}">
                <td th:text="${brand.name}"></td>
                <td></td>
            </tr>

                <tr>
                    <td><input id="nameField" type="text" th:field="*{name}"></td>
                    <td><input type="submit" value="Save new brand"></td>
                </tr>
        </table>
    </form>

</div>
<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>