<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of the fridge</title>
</head>
<body>

<h1>Overview of the fridge</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Brand</th>
    </tr>
    <tr th:each="Product : ${allProducts}">
        <td th:text="${Product.name}"></td>
        <td th:text="${Product.catagory}"></td>
        <td th:text="${Product.brand}"></td>
    </tr>
</table>


<p>
    <a th:href="@{/product/new}">Add a new product</a>
</p>

</body>
</html>