<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of the fridge</title>
</head>
<body>

<h1>Overview of the fridge</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Available</th>
        <th>Total</th>
        <th>Deposit</th>
    </tr>
    <tr th:each="product : ${allProducts}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.catagory}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.getNumberOfItemsInFridge()}"></td>
        <td th:text="${product.getTotalNumberOfItems()}"></td>
        <td><a th:href="@{/item/new/{productId}(productId = ${product.productId})}">Deposit item</a> </td>
    </tr>
</table>


<p>
    <a th:href="@{/product/new}">Add a new product</a>
</p>

</body>
</html>